{% extends 'base.html' %}
{# used FastBootstrap by atlassian #}
{% block content %}
<span class="badge text-bg-danger">{{ result }}</span>

<header class="py-5">
    <div class="container px-lg-5">
        <div class="dropzone p-4 p-lg-5 rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">사진 업로드</h1>
                <p class="fs-4">이 곳에 사진을 끌어오거나 업로드 버튼을 누르세요.</p>

                <form action="/age_upload" method="post" enctype="multipart/form-data">
                    <div class="rounded-3 text-center p-5 mb-4">
                        <div class="dz-message">
                            <i class="fas fa-cloud-upload-alt fa-3x"></i>
                        </div>
                    </div>

                    <p id="filename" class="fs-5"></p>

                    <label class="btn btn-outline-warning" for="fileInput">
                        선택</label>
                    <input class="file" id="fileInput" name="image" type="file" style="display: none;">

                    <!-- 자동 제출 버튼 -->
                    <button type="submit" class="btn btn-outline-success">
                        <span class="icon text-success-emphasis">
                            <i class="fas fa-upload"></i>
                        </span>제출
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>

<script>
    // simple script for drag and drop
    const dropzone = document.querySelector('.dropzone');
    const fileInput = document.getElementById('fileInput');

    // Handle file input change event (by clicking the button)
    document.getElementById('fileInput').addEventListener('change', function (e) {
        handleFiles(e.target.files);
    });

    // Prevent default behavior for drag and drop events
    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropzone.addEventListener(eventName, preventDefaults, false);
    });

    // Highlight the dropzone when dragging over it
    ['dragover', 'dragenter'].forEach(eventName => {
        dropzone.addEventListener(eventName, () => {
            dropzone.classList.add('border', 'border-dashed', 'border-secondary')
        }, false);
    });

    ['dragleave', 'drop'].forEach(eventName => {
        dropzone.addEventListener(eventName, () => {
            dropzone.classList.remove('border', 'border-dashed', 'border-secondary')
        }, false);
    });

    // Handle dropped files (by dragging and dropping)
    dropzone.addEventListener('drop', handleDrop, false);

    function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
    }

    function handleDrop(e) {
        dropzone.classList.remove('bg-secondary');
        const files = e.dataTransfer.files;
        handleFiles(files);
    }

    function handleFiles(files) {
        fileInput.files = files;
        document.getElementById('filename').innerText = files[0].name;
    }
</script>
{% endblock %}