{% extends 'base.html' %}
{% block content %}
    <!-- Header - set the background image for the header in the line below-->
    <header class="py-5 bg-image-full"
            style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
        <div class="text-center my-5">
            <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg"
                 alt="..."/>
            <h1 class="text-white fs-3 fw-bolder">{{ session['username'] }}님</h1>
            <a href="/logout">로그아웃</a>
            <p class="text-white-50 mb-0">가입일: {{result['signupTime']}}</p>
        </div>
    </header>

    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>History</h2>
                    <p class="lead">서비스 이용 내역 조회</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <!-- 히스토리 버튼 4개 -->
                    <div class="btn-group">
                        <a href="{{ url_for('history', param='celeb') }}" class="btn btn-primary">닮은 꼴 연예인</a>
                        <a href="{{ url_for('history', param='feature') }}" class="btn btn-primary">얼굴 특징</a>
                        <a href="{{ url_for('history', param='age') }}" class="btn btn-primary">노안도</a>
                        <a href="{{ url_for('history', param='animal') }}" class="btn btn-primary">동물상</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section-->
    <!-- <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Engaging Background Images</h2>
                    <p class="lead">The background images used in this template are sourced from Unsplash and are open
                        source and free to use.</p>
                    <p class="mb-0">I can't tell you how many people say they were turned off from science because of a
                        science teacher that completely sucked out all the inspiration and enthusiasm they had for the
                        course.</p>
                </div>
            </div>
        </div>
    </section> -->


{% endblock %}
