{% extends 'base.html' %}
{% block content %}
    <!-- Header - set the background image for the header in the line below-->
    <header class="py-5 bg-image-full"
            style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
        <div class="text-center my-5">
            <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg"
                 alt="..."/>
            <h1 class="text-white fs-3 fw-bolder">{{ session['username'] }}님</h1>
            <a href="/logout">로그아웃</a>
            <p class="text-white-50 mb-0">가입일: {{session['signupTime']}}</p>
        </div>
    </header>
    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>History</h2>
                    <p class="lead">서비스 이용 내역 조회({{h_info[0]}})</p>
                </div>
            </div>
            <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">회원 ID</th>
                                {% if param != 'feature'%}
                                <th scope="col">{{h_info[1]}}</th>
                                <th scope="col">{{h_info[2]}}</th>
                                {%else%}
                                <th scope="col">{{h_info[1]}}</th>
                                <th scope="col">{{h_info[2]}}</th>
                                <th scope="col">{{h_info[3]}}</th>
                                <th scope="col">{{h_info[4]}}</th>
                                {%endif%}
                                <th scope="col">생성일</th>
                                <th scope="col">action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for r in session['result'] %}
                                <tr> 
                                    {% if param != 'feature'%}
                                    <th scope="row">{{ r['num'] }}</th>
                                    <td>{{ r['userId'] }}</td>
                                    <td>{{ r[param] }}</td>
                                    <td>{{ r['probability'] }}%</td>
                                    <td>{{ r['created_at'] }}</td>
                                    {%else%}
                                    <th scope="row">{{ r['num'] }}</th>
                                    <td>{{ r['userId'] }}</td>
                                    <td>{{ r['gender'] }}</td>
                                    <td>{{ r['gender_probability'] }}%</td>
                                    <td>{{ r['race'] }}</td>
                                    <td>{{ r['race_probability'] }}%</td>
                                    <td>{{ r['created_at'] }}</td>
                                    {%endif%}
                                    <td>
                                        {% if param != 'celeb' %}
                                        <a class="btn btn-danger" href="{{ url_for('del_history', param=param, num=r['num']) }}">삭제</a>
                                        {%else%}
                                        <button type="button" class="btn btn-info"
                                                href="{{ url_for('index', num=r['num']) }}">자세히</button>
                                        </button>
                                        <a class="btn btn-danger" href="{{ url_for('del_history', param=param, num=r['num']) }}">삭제</a>
                                        {%endif%}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
