{% extends 'base.html' %}
{% block content %}
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">사진 업로드</h1>
                    <p class="fs-4">이 곳에 사진을 끌어오거나 업로드 버튼을 누르세요.</p>

                    <form action="/similar_upload" method="post" enctype="multipart/form-data">
                        <label class="btn btn-primary btn-lg" for="fileInput">업로드</label>
                        <input class="file" id="fileInput" name="image" type="file" style="display: none;">

                        <!-- 자동 제출 버튼 -->
                        <button type="submit">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
